

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="pt-5 text-center">Profile</h3>
    </div>
    <div class="col-md-4">
      <img [src]="profileForm.get('profileImage')?.value" alt="Profile Picture" width="200px" *ngIf="profileForm.get('profileImage')?.value">
    </div>
    <div class="col-md-8 px-4">
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="d-flex">
            <h2 class=""><b>{{ profileForm.get('firstName')?.value }} {{ profileForm.get('lastName')?.value }}</b></h2>
            <small class="px-5 mt-1"><b>{{ profileForm.get('age')?.value }} Years</b></small>
          </div>
          <div>
            <h4>phone no : {{profileForm.get('mobileNumber')?.value}}</h4>
          </div>
          <div>
            <h4>Email Address : {{profileForm.get('emailId')?.value}}</h4>
          </div>

          <div>
            <address class="">Address : {{ profileForm.get('address1')?.value }}, {{ profileForm.get('address2')?.value }}</address>
          </div>
          <div>
            My Interest : {{ profileForm.get('interests')?.value }}
          </div>
          <div class="mt-2">
            <div>About</div>
            <p>{{ profileForm.get('about')?.value }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 ">
          <div class="float-right user-profile-btn ">
            <button class="mx-2 px-3" (click)="editPhoto()" #fileButton>Edit photo</button>
            <input type="file" id="file" class="file-input" style="display: none;" (change)="handleFileInput($event)" #fileInput>

            <div class="register-btn btn py-1 btn-primary text-center"
                 data-bs-toggle="modal"
                 data-bs-target="#exampleModal"
                 (click)="populateForm(formData)">
                 Edit Profile
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div  class="modal fade mt-5 pt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="profileForm" (ngSubmit)="saveDataToServer()">

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 mb-2">
                <input type="text" class="form-control mx-2" placeholder="First Name" formControlName="firstName">
                <div class="p-0 m-0 "
                *ngIf="profileForm.get('firstName')?.errors && (profileForm.get('firstName')?.dirty || profileForm.get('firstName')?.touched)">
                <div *ngIf="profileForm.get('firstName')?.errors?.['required']" class="text-danger">&nbsp; First name is required.
                </div>
                <div *ngIf="profileForm.get('firstName')?.errors?.['pattern']" class="text-danger">First name must contain
                  only alphabetic characters and should not exceed 20 characters.</div>
              </div>
              </div>
              <div class="col-md-6 mb-2">
              <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
              <div class="p-0 m-0"
              *ngIf="profileForm.get('lastName')?.errors && (profileForm.get('lastName')?.dirty || profileForm.get('lastName')?.touched)">
              <div *ngIf="profileForm.get('lastName')?.errors?.['required']" class="text-danger">&nbsp; Last name is required.
              </div>

            </div>
              </div>
            </div>

              <div class="row mb-2">
                <div class="col-md-6">
                  <input type="text" class="form-control mx-2" placeholder="Mobile number" formControlName="mobileNumber" pattern="[0-9]{10}">
                  <div class="p-0 m-0" *ngIf="profileForm.get('mobileNumber')?.errors && (profileForm.get('mobileNumber')?.dirty || profileForm.get('mobileNumber')?.touched)">
                    <div *ngIf="profileForm.get('mobileNumber')?.errors?.['required']" class="text-danger">&nbsp; Mobile number is required.</div>
                    <div *ngIf="profileForm.get('mobileNumber')?.errors?.['pattern']" class="text-danger">&nbsp; Please enter a valid mobile number.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Email address" formControlName="emailId" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                  <div class="p-0 m-0" *ngIf="profileForm.get('emailId')?.errors && (profileForm.get('emailId')?.dirty || profileForm.get('emailId')?.touched)">
                    <div *ngIf="profileForm.get('emailId')?.errors?.['required']" class="text-danger">&nbsp; Email address is required.</div>
                    <div *ngIf="profileForm.get('emailId')?.errors?.['pattern']" class="text-danger">&nbsp; Please enter a valid email address.</div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6">
                  <select class="form-select form-control mx-2" id="addressType" formControlName="addressType">
                    <option value="">select</option>
                    <option value="home">Home</option>
                    <option value="company">Company</option>
                  </select>

                </div>
                <div class="col-md-6">
                  <textarea class="form-control" rows="1" id="interestField" placeholder="Enter your interests" formControlName="interest" (keydown.enter)="addInterest()" #interestInput></textarea>
                  <div class="p-0 m-0" *ngIf="profileForm.get('interest')?.errors && (profileForm.get('interest')?.dirty || profileForm.get('interest')?.touched)">
                    <div *ngIf="profileForm.get('interest')?.errors?.['required']" class="text-danger">&nbsp; Interest is required.</div>
                    <div *ngIf="profileForm.get('interest')?.errors?.['invalidFormat']" class="text-danger">&nbsp; Invalid format. Please separate interests by commas.</div>
                    <!-- Add any other validation messages if necessary -->
                  </div>
                  <div *ngIf="interests.length > 0" class="mt-2 d-flex">
                    <h5>Interests:</h5>
                    <div class="d-flex flex-wrap">
                      <small class="intrest-chip mx-1 px-2 pt-1" *ngFor="let interest of interests; let i = index">
                        {{ interest }}
                        <i class="fas fa-times p-2" style="color: red;" (click)="removeInterest(i)"></i>
                      </small>
                    </div>
                  </div>
                </div>






              </div>
              <div class="mt-2" *ngIf="profileForm.get('addressType')?.value === 'home'">

              <div class="row">

                <div class="col-md-6">
                <input type="text" class="form-control mx-2" placeholder="Address 1" formControlName="address1">
                <div class="p-0 m-0"
                *ngIf="profileForm.get('address1')?.errors && (profileForm.get('address1')?.dirty || profileForm.get('address1')?.touched)">
                <div *ngIf="profileForm.get('address1')?.errors?.['required']" class="text-danger">&nbsp; address is required.
                </div>
                </div>

                </div>
                <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Address 2" formControlName="address2">
                <div class="p-0 m-0"
                *ngIf="profileForm.get('address2')?.errors && (profileForm.get('address2')?.dirty || profileForm.get('address2')?.touched)">
                <div *ngIf="profileForm.get('address2')?.errors?.['required']" class="text-danger">&nbsp; address is required.
                </div>
                </div>
                </div>
              </div>
              </div>
              <div class="mt-2" *ngIf="profileForm.get('addressType')?.value === 'company'">

                <div class="row">

                  <div class="col-md-6">
                    <input type="text" class="form-control mx-2" placeholder="Company Address 1" formControlName="companyAddress1">
                     <div class="p-0 m-0"
                *ngIf="profileForm.get('companyAddress1')?.errors && (profileForm.get('companyAddress1')?.dirty || profileForm.get('companyAddress1')?.touched)">
                <div *ngIf="profileForm.get('companyAddress1')?.errors?.['required']" class="text-danger">&nbsp; company Address is required.
                </div>
                </div>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Company Address 2" formControlName="companyAddress2">
                    <div class="p-0 m-0"
                *ngIf="profileForm.get('companyAddress2')?.errors && (profileForm.get('companyAddress2')?.dirty || profileForm.get('companyAddress2')?.touched)">
                <div *ngIf="profileForm.get('companyAddress2')?.errors?.['required']" class="text-danger">&nbsp; company Address is required.
                </div>
                </div>
                  </div>
                </div>
                </div>

            <div class="mt-2">
              <textarea  class="form-control mx-2" placeholder="About" formControlName="about"> </textarea>
              <div class="p-0 m-0"
              *ngIf="profileForm.get('about')?.errors && (profileForm.get('about')?.dirty || profileForm.get('about')?.touched)">
              <div *ngIf="profileForm.get('about')?.errors?.['required']" class="text-danger">&nbsp; about is required.
              </div>
              </div>
            </div>

            <div>
              <label for="ageSlide" class="mx-2">Age:</label> <br>
              <input type="range" class="form-range mx-2" id="ageSlider" min="1" max="100" formControlName="age">
              <span>{{ profileForm.get('age')?.value }}</span>
              <div class="p-0 m-0"
              *ngIf="profileForm.get('age')?.errors && (profileForm.get('age')?.dirty || profileForm.get('age')?.touched)">
              <div *ngIf="profileForm.get('age')?.errors?.['required']" class="text-danger">&nbsp; age is required.
              </div>
              </div>
            </div>
            <div class=" col-md-10 d-flex justify-content-center">
              <button type="submit" class=" btn px-5" style="background: rgba(var(--accent-color-rgb), 0.85); color: white;">Update</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
